In [1]:
import pandas as pd

In [2]:
groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]

In [3]:
num = [46, 8, 12, 12, 6, 58]

In [4]:
dict = {"groups": groups,  
        "num": num
        }

In [5]:
df = pd.DataFrame(dict)

In [6]:
df

    groups  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking   58

In [7]:
print(df.head(3))

   groups  num
0  Movies   46
1  Sports    8
2  Coding   12

In [8]:
print(df.index)

RangeIndex(start=0, stop=6, step=1)